<div class="row">
  <div class="col-lg-8">
    <nb-card>
      <nb-card-header>Inserisci Esercizio</nb-card-header>
      <nb-card-body>
        <div [formGroup]="registryForm">
          <div class="full-name-inputs">
            <mat-form-field>
              <input matInput formControlName="name" fullWidth placeholder="Nome"/>
              <mat-error>errore name</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="surname" fullWidth placeholder="Cognome"/>
              <mat-error>errore surname</mat-error>
            </mat-form-field>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
    <div class="buttons-row">
      <button mat-raised-button nbButton status='primary' type="submit" (click)="submit()">Inserisci</button>
    </div>
  </div>
</div>
